<html>
    <body>
        <p>
            <video controls autoplay loop>
                <source src="/<%= @media_file %>" type="video/<%= @media_extension %>">
                Your browser does not support the video tag.
            </video>
        </p>
    </body>
</html>